In [83]:
import os
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, accuracy_score, classification_report, confusion_matrix,precision_recall_fscore_support
from scipy.stats import chi2_contingency
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [84]:
df1 = pd.read_excel("D:\Machine Learning\ML-CreditRiskAnalyzer\data\case_study1.xlsx")
df2 = pd.read_excel("D:\Machine Learning\ML-CreditRiskAnalyzer\data\case_study2.xlsx")

In [85]:
df1.head()

   PROSPECTID  Total_TL  Tot_Closed_TL  ...  Other_TL  Age_Oldest_TL  Age_Newest_TL
0           1         5              4  ...         0             72             18
1           2         1              0  ...         0              7              7
2           3         8              0  ...         0             47              2
3           4         1              0  ...         1              5              5
4           5         3              2  ...         2            131             32

[5 rows x 26 columns]

In [86]:
df2.head()

   PROSPECTID  time_since_recent_payment  ...  Credit_Score  Approved_Flag
0           1                        549  ...           696             P2
1           2                         47  ...           685             P2
2           3                        302  ...           693             P2
3           4                     -99999  ...           673             P2
4           5                        583  ...           753             P1

[5 rows x 62 columns]

In [87]:
df1.shape, df2.shape

((51336, 26), (51336, 62))

In [88]:
df1.isnull().sum()

PROSPECTID              0
Total_TL                0
Tot_Closed_TL           0
Tot_Active_TL           0
Total_TL_opened_L6M     0
Tot_TL_closed_L6M       0
pct_tl_open_L6M         0
pct_tl_closed_L6M       0
pct_active_tl           0
pct_closed_tl           0
Total_TL_opened_L12M    0
Tot_TL_closed_L12M      0
pct_tl_open_L12M        0
pct_tl_closed_L12M      0
Tot_Missed_Pmnt         0
Auto_TL                 0
CC_TL                   0
Consumer_TL             0
Gold_TL                 0
Home_TL                 0
PL_TL                   0
Secured_TL              0
Unsecured_TL            0
Other_TL                0
Age_Oldest_TL           0
Age_Newest_TL           0
dtype: int64

In [89]:
df1 = df1.loc[df1["Age_Oldest_TL"] != -99999]

In [90]:
df1.loc[df1["Age_Oldest_TL"] == -99999]

Empty DataFrame
Columns: [PROSPECTID, Total_TL, Tot_Closed_TL, Tot_Active_TL, Total_TL_opened_L6M, Tot_TL_closed_L6M, pct_tl_open_L6M, pct_tl_closed_L6M, pct_active_tl, pct_closed_tl, Total_TL_opened_L12M, Tot_TL_closed_L12M, pct_tl_open_L12M, pct_tl_closed_L12M, Tot_Missed_Pmnt, Auto_TL, CC_TL, Consumer_TL, Gold_TL, Home_TL, PL_TL, Secured_TL, Unsecured_TL, Other_TL, Age_Oldest_TL, Age_Newest_TL]
Index: []

In [91]:
columns_to_be_removed = []

def columns_removed():
    for i in df2.columns:
        if df2.loc[df2[i]== -99999].shape[0] > 10000:
            columns_to_be_removed.append(i)
    return columns_to_be_removed

In [92]:
columns_removed()

['time_since_first_deliquency',
 'time_since_recent_deliquency',
 'max_delinquency_level',
 'max_deliq_6mts',
 'max_deliq_12mts',
 'CC_utilization',
 'PL_utilization',
 'max_unsec_exposure_inPct']

In [93]:
df2 = df2.drop(columns_to_be_removed, axis=1)

In [94]:
df2

       PROSPECTID  time_since_recent_payment  ...  Credit_Score  Approved_Flag
0               1                        549  ...           696             P2
1               2                         47  ...           685             P2
2               3                        302  ...           693             P2
3               4                     -99999  ...           673             P2
4               5                        583  ...           753             P1
...           ...                        ...  ...           ...            ...
51331       51332                         15  ...           650             P4
51332       51333                         57  ...           702             P1
51333       51334                         32  ...           661             P3
51334       51335                         58  ...           686             P2
51335       51336                         74  ...           681             P2

[51336 rows x 54 columns]

In [95]:
def rows_removed():
    for i in df2.columns:
        x = df2.loc[df2[i]!= -99999]
        x = df2
    return df2

In [96]:
df2

       PROSPECTID  time_since_recent_payment  ...  Credit_Score  Approved_Flag
0               1                        549  ...           696             P2
1               2                         47  ...           685             P2
2               3                        302  ...           693             P2
3               4                     -99999  ...           673             P2
4               5                        583  ...           753             P1
...           ...                        ...  ...           ...            ...
51331       51332                         15  ...           650             P4
51332       51333                         57  ...           702             P1
51333       51334                         32  ...           661             P3
51334       51335                         58  ...           686             P2
51335       51336                         74  ...           681             P2

[51336 rows x 54 columns]

In [97]:
for i in list(df2.columns):
    if i in list(df1.columns):
        print(i)

PROSPECTID

In [98]:
df = pd.merge(df1,df2,how="inner", on="PROSPECTID")
df

       PROSPECTID  Total_TL  ...  Credit_Score  Approved_Flag
0               1         5  ...           696             P2
1               2         1  ...           685             P2
2               3         8  ...           693             P2
3               4         1  ...           673             P2
4               5         3  ...           753             P1
...           ...       ...  ...           ...            ...
51291       51332         3  ...           650             P4
51292       51333         4  ...           702             P1
51293       51334         2  ...           661             P3
51294       51335         2  ...           686             P2
51295       51336         1  ...           681             P2

[51296 rows x 79 columns]

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51296 entries, 0 to 51295
Data columns (total 79 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROSPECTID                  51296 non-null  int64
 1   Total_TL                    51296 non-null  int64
 2   Tot_Closed_TL               51296 non-null  int64
 3   Tot_Active_TL               51296 non-null  int64
 4   Total_TL_opened_L6M         51296 non-null  int64
 5   Tot_TL_closed_L6M           51296 non-null  int64
 6   pct_tl_open_L6M             51296 non-null  float64
 7   pct_tl_closed_L6M           51296 non-null  float64
 8   pct_active_tl               51296 non-null  float64
 9   pct_closed_tl               51296 non-null  float64
 10  Total_TL_opened_L12M        51296 non-null  int64
 11  Tot_TL_closed_L12M          51296 non-null  int64
 12  pct_tl_open_L12M            51296 non-null  float64
 13  pct_tl_closed_L12M          51296 non-null  float64
 14  Tot_Missed_Pmnt             51296 non-null  int64
 15  Auto_TL                     51296 non-null  int64
 16  CC_TL                       51296 non-null  int64
 17  Consumer_TL                 51296 non-null  int64
 18  Gold_TL                     51296 non-null  int64
 19  Home_TL                     51296 non-null  int64
 20  PL_TL                       51296 non-null  int64
 21  Secured_TL                  51296 non-null  int64
 22  Unsecured_TL                51296 non-null  int64
 23  Other_TL                    51296 non-null  int64
 24  Age_Oldest_TL               51296 non-null  int64
 25  Age_Newest_TL               51296 non-null  int64
 26  time_since_recent_payment   51296 non-null  int64
 27  num_times_delinquent        51296 non-null  int64
 28  max_recent_level_of_deliq   51296 non-null  int64
 29  num_deliq_6mts              51296 non-null  int64
 30  num_deliq_12mts             51296 non-null  int64
 31  num_deliq_6_12mts           51296 non-null  int64
 32  num_times_30p_dpd           51296 non-null  int64
 33  num_times_60p_dpd           51296 non-null  int64
 34  num_std                     51296 non-null  int64
 35  num_std_6mts                51296 non-null  int64
 36  num_std_12mts               51296 non-null  int64
 37  num_sub                     51296 non-null  int64
 38  num_sub_6mts                51296 non-null  int64
 39  num_sub_12mts               51296 non-null  int64
 40  num_dbt                     51296 non-null  int64
 41  num_dbt_6mts                51296 non-null  int64
 42  num_dbt_12mts               51296 non-null  int64
 43  num_lss                     51296 non-null  int64
 44  num_lss_6mts                51296 non-null  int64
 45  num_lss_12mts               51296 non-null  int64
 46  recent_level_of_deliq       51296 non-null  int64
 47  tot_enq                     51296 non-null  int64
 48  CC_enq                      51296 non-null  int64
 49  CC_enq_L6m                  51296 non-null  int64
 50  CC_enq_L12m                 51296 non-null  int64
 51  PL_enq                      51296 non-null  int64
 52  PL_enq_L6m                  51296 non-null  int64
 53  PL_enq_L12m                 51296 non-null  int64
 54  time_since_recent_enq       51296 non-null  int64
 55  enq_L12m                    51296 non-null  int64
 56  enq_L6m                     51296 non-null  int64
 57  enq_L3m                     51296 non-null  int64
 58  MARITALSTATUS               51296 non-null  object
 59  EDUCATION                   51296 non-null  object
 60  AGE                         51296 non-null  int64
 61  GENDER                      51296 non-null  object
 62  NETMONTHLYINCOME            51296 non-null  int64
 63  Time_With_Curr_Empr         51296 non-null  int64
 64  pct_of_active_TLs_ever      51296 non-null  float64
 65  pct_opened_TLs_L6m_of_L12m  51296 non-null  float64
 66  pct_currentBal_all_TL       51296 non-null  float64
 67  CC_Flag                     51296 non-null  int64
 68  PL_Flag                     51296 non-null  int64
 69  pct_PL_enq_L6m_of_L12m      51296 non-null  float64
 70  pct_CC_enq_L6m_of_L12m      51296 non-null  float64
 71  pct_PL_enq_L6m_of_ever      51296 non-null  float64
 72  pct_CC_enq_L6m_of_ever      51296 non-null  float64
 73  HL_Flag                     51296 non-null  int64
 74  GL_Flag                     51296 non-null  int64
 75  last_prod_enq2              51296 non-null  object
 76  first_prod_enq2             51296 non-null  object
 77  Credit_Score                51296 non-null  int64
 78  Approved_Flag               51296 non-null  object
dtypes: float64(13), int64(60), object(6)
memory usage: 30.9+ MB

In [100]:
df.isna().sum()

PROSPECTID             0
Total_TL               0
Tot_Closed_TL          0
Tot_Active_TL          0
Total_TL_opened_L6M    0
                      ..
GL_Flag                0
last_prod_enq2         0
first_prod_enq2        0
Credit_Score           0
Approved_Flag          0
Length: 79, dtype: int64

In [101]:
df.to_excel("D:\Machine Learning\ML-CreditRiskAnalyzer\data\merged.xlsx", index=False)

In [102]:
cat_col = []
num_col = []
col_to_removed = ["PROSPECTID", "Approved_Flag"]

for i in df.columns:
    if df[i].dtype == "object" and i not in ["PROSPECTID", "Approved_Flag"]:
        cat_col.append(i)
    else:
        num_col.append(i)

for i in col_to_removed:
    num_col.remove(i)

In [103]:
cat_col

['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2']

In [104]:
num_col

['Total_TL',
 'Tot_Closed_TL',
 'Tot_Active_TL',
 'Total_TL_opened_L6M',
 'Tot_TL_closed_L6M',
 'pct_tl_open_L6M',
 'pct_tl_closed_L6M',
 'pct_active_tl',
 'pct_closed_tl',
 'Total_TL_opened_L12M',
 'Tot_TL_closed_L12M',
 'pct_tl_open_L12M',
 'pct_tl_closed_L12M',
 'Tot_Missed_Pmnt',
 'Auto_TL',
 'CC_TL',
 'Consumer_TL',
 'Gold_TL',
 'Home_TL',
 'PL_TL',
 'Secured_TL',
 'Unsecured_TL',
 'Other_TL',
 'Age_Oldest_TL',
 'Age_Newest_TL',
 'time_since_recent_payment',
 'num_times_delinquent',
 'max_recent_level_of_deliq',
 'num_deliq_6mts',
 'num_deliq_12mts',
 'num_deliq_6_12mts',
 'num_times_30p_dpd',
 'num_times_60p_dpd',
 'num_std',
 'num_std_6mts',
 'num_std_12mts',
 'num_sub',
 'num_sub_6mts',
 'num_sub_12mts',
 'num_dbt',
 'num_dbt_6mts',
 'num_dbt_12mts',
 'num_lss',
 'num_lss_6mts',
 'num_lss_12mts',
 'recent_level_of_deliq',
 'tot_enq',
 'CC_enq',
 'CC_enq_L6m',
 'CC_enq_L12m',
 'PL_enq',
 'PL_enq_L6m',
 'PL_enq_L12m',
 'time_since_recent_enq',
 'enq_L12m',
 'enq_L6m',
 'enq_L3m',
 'AGE',
 'NETMONTHLYINCOME',
 'Time_With_Curr_Empr',
 'pct_of_active_TLs_ever',
 'pct_opened_TLs_L6m_of_L12m',
 'pct_currentBal_all_TL',
 'CC_Flag',
 'PL_Flag',
 'pct_PL_enq_L6m_of_L12m',
 'pct_CC_enq_L6m_of_L12m',
 'pct_PL_enq_L6m_of_ever',
 'pct_CC_enq_L6m_of_ever',
 'HL_Flag',
 'GL_Flag',
 'Credit_Score']

In [105]:
for i in cat_col:
    chi2, pval, _, _ = chi2_contingency(pd.crosstab(df[i], df["Approved_Flag"]))
    print(i, "----", pval)

MARITALSTATUS ---- 2.7347247145640217e-257
EDUCATION ---- 6.772122013692765e-38
GENDER ---- 0.00025924146444508505
last_prod_enq2 ---- 0.0
first_prod_enq2 ---- 0.0

In [106]:
len(num_col)

72

In [110]:
vif_data = df[num_col]
total_col = vif_data.shape[1]
col_to_be_kept = []
column_index = 0

for i in range(0,total_col):
    vif_value = variance_inflation_factor(vif_data,column_index)
    print(column_index, "----------", vif_value)
    
    
    if vif_value <=6:
        col_to_be_kept.append(num_col[i])
        column_index = column_index +1 
    else:
        vif_data = vif_data.drop(num_col[i], axis = 1)

d:\Machine Learning\ML-CreditRiskAnalyzer\venv\lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

0 ---------- inf

d:\Machine Learning\ML-CreditRiskAnalyzer\venv\lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

0 ---------- inf
0 ---------- 10.967318271504595
0 ---------- 8.280431943361068
0 ---------- 6.428482253706429
0 ---------- 5.510394576267302
1 ---------- 2.4900436238094183

d:\Machine Learning\ML-CreditRiskAnalyzer\venv\lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

2 ---------- inf
2 ---------- 1813.189446652738
2 ---------- 8.260638988187743
2 ---------- 3.6703254239467227
3 ---------- 5.6942164467767675
4 ---------- 4.970645827346293
5 ---------- 2.002032552173903

d:\Machine Learning\ML-CreditRiskAnalyzer\venv\lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

6 ---------- inf
6 ---------- 4.788323772675491
7 ---------- 21.142530080727536
7 ---------- 32.035916588478756
7 ---------- 4.452092318882433
8 ---------- 2.9986771147212212
9 ---------- 2.7991742557496417
10 ---------- 4.084955530280214
11 ---------- 2.180147515711328
12 ---------- 5.113889440000773
13 ---------- 3.247544480100841
14 ---------- 1.2747264556566849
15 ---------- 8.005890070879005
15 ---------- 5.397672188311246

d:\Machine Learning\ML-CreditRiskAnalyzer\venv\lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

16 ---------- inf
16 ---------- 7.274564152451663
16 ---------- 1.4153535674199746
17 ---------- 8.503819690047568
17 ---------- 1.6294794750057182
18 ---------- 7.078919419257034
18 ---------- 15.410978252728741
18 ---------- 1.83632439761608
19 ---------- 1.565076628611904
20 ---------- 2.5460982721382064
21 ---------- 3.1032891116487993
22 ---------- 2.194287797978664
23 ---------- 7.383989877498994
23 ---------- 2.07514825604116
24 ---------- 2.726449304987255
25 ---------- 6.293135612441871
25 ---------- 2.7102677871447955
26 ---------- 4.923780392902992
27 ---------- 347440509.5926095
27 ---------- 2991543440.4349923
27 ---------- 11936689705.599522
27 ---------- 1408975611.9399073
27 ---------- 1782848308.7841969
27 ---------- 5336252451.079604
27 ---------- 494571895.8992288
27 ---------- 8494.670892803804
27 ---------- 666304530.2187972
27 ---------- 783906969.1539816
27 ---------- 1.3267888481797092
28 ---------- 21.7338293165276
28 ---------- 2.8690860362884307
29 ---------- 3.394057799688926
30 ---------- 9.35823325021184
30 ---------- 6.988945461891277
30 ---------- 1.0053521595659223
31 ---------- 3.0721346286046014
32 ---------- 2.727775618650995
33 ---------- 20.732955972009012
33 ---------- 16.17170247740565
33 ---------- 1.432520794564997
34 ---------- 1.2226466873251394
35 ---------- 1.9740196765766052
36 ---------- 4.387913388913403
37 ---------- 12.825133344835534

In [112]:
len(col_to_be_kept)

37

In [113]:
from scipy.stats import f_oneway

columns_to_be_kept_numerical = []

for i in col_to_be_kept:
    a = list(df[i])  
    b = list(df['Approved_Flag'])  
    
    group_P1 = [value for value, group in zip(a, b) if group == 'P1']
    group_P2 = [value for value, group in zip(a, b) if group == 'P2']
    group_P3 = [value for value, group in zip(a, b) if group == 'P3']
    group_P4 = [value for value, group in zip(a, b) if group == 'P4']


    f_statistic, p_value = f_oneway(group_P1, group_P2, group_P3, group_P4)

    if p_value <= 0.05:
        columns_to_be_kept_numerical.append(i)

In [115]:
len(columns_to_be_kept_numerical)

34